.container {
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 100px;
  left: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}

.messages {
  width: 90%;
  margin: 20px auto;
  font-size: 18px;
  border-top: solid 1px #e2e2e2;
  list-style: none;
}